# .dockerignore
# These files/folders will NOT be copied into the Docker image.
# This keeps the image small and clean.

node_modules
npm-debug.log
coverage
.git
.github
tests
*.md
.gitignore
.dockerignore
